[submodule ".vim/vim-pathogen"]
	path = .vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vendor/dircolors-solarized"]
	path = vendor/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/open_file_under_cursor.vim"]
	path = .vim/bundle/open_file_under_cursor.vim
	url = git://github.com/amix/open_file_under_cursor.vim.git
