[submodule "vendor/dircolors-solarized"]
	path = vendor/dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "vendor/vim-plug"]
	path = vendor/vim-plug
	url = https://github.com/junegunn/vim-plug.git
