[include]
    # works both in Linux/Windows
    path = .gitconfig_private
[core]
    editor = /usr/bin/vim
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore
    autocrlf = false
    eol = lf
    filemode = true
[push]
    default = upstream

[diff]
    tool = vimdiff
[diff "exif"]
    textconv = exiftool -s2 -common --filename

[merge]
    ff = only
    tool = vimdiff
[color]
    ui = auto
[bash]
    showDirtyState = true
