[include]
    # works both in Linux/Windows
    path = .gitconfig_private
[core]
    excludesfile = ~/.gitignore
    autocrlf = false
    eol = lf
    filemode = false
[push]
    default = upstream
[diff]
    tool = vimdiff
[merge]
    ff = only
    tool = vimdiff
[color]
    ui = auto
[bash]
    showDirtyState = true
